//colors
$primarygreen: #acbb16;
$lightgreen: rgba(193, 255, 22, 0.37);
$dark: #293737;
$textdark: #293737;

//fonts
$fontstack: 'Circular', sans-serif;


html{
    scroll-behavior: smooth;
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body{
    color: $textdark;
    font-family: $fontstack;
    font-size:1em !important;
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

//nav
.navbar-brand, .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.6rem;
}
.navbar{
    border-bottom: 1px solid #efefef;
    padding:10px 0px;
    background: #fff !important;
}
.navbar-item img {
    max-height: 3rem;
}
.navbar-brand{
    padding:0px;
}
.logo-link:hover{
    background: transparent !important;
}
.hero.is-white .navbar-link.is-active, .hero.is-white .navbar-link:hover, .hero.is-white a.navbar-item.is-active, .hero.is-white a.navbar-item:hover{
    background: $lightgreen;
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

.special{
    width:320px;
    height: auto;
}

//titles
.hero-title{
    font-weight: 700;
    font-size: 2.6em;
    line-height: 120%;
    color: $textdark;
    margin-bottom: 20px;
}
.hero-subtitle{
    color: $textdark;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}
.highlight{
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 100%;
}

//sections
%section-padding {
    padding:150px 0px;
  }

#about{
    background: rgba(220, 242, 25, 0.432);
    @extend %section-padding;
//     background-color: #def219;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cfde35' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23a9c63f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b7d328' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%238fb13d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a8cf33' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2389bc39' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%238ebd3b' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%237fc034' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2387c744' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2391cb62' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23609a42' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2353a127' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
// background-attachment: fixed;
// background-size: cover;
}
#subsidiaries{
    @extend %section-padding;
}
#about-contd{
    @extend %section-padding;
    background: #fafafa;
    background-size: inherit;
    background-image: url(/img/abt-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    hr{
        
background-color: #666 !important;
height: 1px;
    }
    background: #444;
    @extend %section-padding;
    color: #fff;
    a{
        color: #DEF219;
        -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &:hover{
            color: #fff;
            -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
    p{
        margin-bottom: 10px;
        
    }
    li{
        display: inline !important;
        padding-right: 10px;
    }
}

//divs
.button-x{
    padding:20px 40px !important;
    letter-spacing: 2px;
    font-size:1.3em;
}
.hero{
    background: url(img/bg.svg);
}
.hero-text-side{
    padding: 12% 0px;
    a{
        text-transform: uppercase;
    }
}
.hero-image-side{
    padding:30px;
}
#home{
    height: 100vh !important;
}
.img-side{
    width:90%;
}
.hide-em{
    background: #fff !important;
    border:none !important;
    &:hover{
        box-shadow: none !important;
    }
}
.about-text{
    .hero-title::after {
        border-bottom: 4px solid #fff !important;
        left: 2px;
        top: 10px;
        width: 22%;
    }
    .highlight-box{
        padding: 40px;
        background: rgb(249, 252, 223);
        color: #293737;
        margin: 20px auto;
        border-radius:5px;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.137), 0 5px 5px rgba(0, 0, 0, 0.062);
        
        h3{
            line-height: 150%;
            margin-bottom: 15px;
        }
    }
    
    
}

.section-heading{
    margin-bottom: 50px;
}
.about-img{
    img{
        border-radius: 5px;
        margin-bottom: 50px;
        // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &:hover{
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.075), 0 15px 12px rgba(95, 95, 95, 0.062);

        }
    }
}
//grid space
.sub-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-gap: 30px;
}
.sub-box{
    border-radius:5px;
    border: 1px solid #efefef;
    background: #fafafa;
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:         all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.075), 0 15px 12px rgba(95, 95, 95, 0.062);
}
    .sub-box-logo{
        display: block;
        padding:0px;
        background: #fff;
        img{
            width:90% !important;
            height: auto;
        }
    }
    .sub-box-text{
        padding:20px;
        background: #fafafa;
        

        p{
            margin-bottom:20px;
        }
    }
    
}
.footer-logo{
    img{
        width: 50%;
        height: auto;
    }
}

.form-a {
    background: #fff;
    padding: 40px;
}
.blash-bg{
    background: rgba(220, 242, 25, 0.37);
    padding: 30px;
    margin:0px !important;
}
.input, .textarea {
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: none;
    border-radius: 3px;
    max-width: 100%;
    font-family: 'Product Sans', sans-serif;
    width: 100%;
}
.full-button {
    width: 100% !important;
}

//lity
.lithium{
    width: 720px !important;
}
//media queries

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 
    .navbar-item img {
        max-height: 2.4rem;
    }
.hero-title{
    font-weight: 400;
    font-size: 1.8em;
    line-height: 120%;
    color: $textdark;
    margin-bottom: 20px;
}
.hero-subtitle{
    color: $textdark;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}
    .section-heading{
        margin-bottom: 20px;
    }
    #about, #subsidiaries{
        padding:70px 30px;
    }
    footer{
        padding:30px;
    }
    
    .hero{
        background: url(/img/mobile-bg.svg);
    }
    .hero-text-side{
        padding: 10% 20px;
    }
    .hero-image-side{
        padding:20px;
    }
    .sub-box{
        
        .sub-box-logo{
            display: block;
            padding:20px;
            img{
                width:90% !important;
                height: auto;
            }
        }
        .sub-box-text{
            padding:20px;
            background: #fafafa;
            
    
            p{
                margin-bottom:20px;
            }
        }
    }
    .footer-logo{
        img{
            width: 50%;
            height: auto;
        }
    }
    .copyright{
        font-size:.8em !important;
    }

//lity
.lithium{
    width: 80%;
}
    
}

  @media screen and (max-width: 768px) {
    .navbar-item img {
        max-height: 2.4rem;
    }
.hero-title{
    font-weight: 400;
    font-size: 1.8em;
    line-height: 120%;
    color: $textdark;
    margin-bottom: 20px;
}
.hero-subtitle{
    color: $textdark;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}
    .section-heading{
        margin-bottom: 20px;
    }
    #about, #about-contd, #subsidiaries{
        padding:70px 30px;
    }
    #about-contd{
        margin-top:100px;
    }
    footer{
        padding:30px;
    }
    .sub-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: max-content;
        grid-gap: 30px;
        
    }
    .hero{
        background: url(/img/mobile-bg.svg);
    }
    .hero-text-side{
        padding: 10% 20px;
    }
    .hero-image-side{
        padding:20px;
        margin-bottom:100px;
    }
    .sub-box{
        
        .sub-box-logo{
            display: block;
            padding:10px;
            img{
                width:90% !important;
                height: auto;
            }
        }
        .sub-box-text{
            padding:20px;
            background: #fafafa;
            
    
            p{
                margin-bottom:20px;
            }
        }
    }
    .footer-logo{
        img{
            width: 50%;
            height: auto;
        }
    }
    .copyright{
        font-size:.8em !important;
    }
    .button-x{
        
        font-size:1em;
    }
    
//lity
.lithium{
    width: 400px !important;
    height: 600px !important;
}
.special{
    width:50%;
    height: auto;
}
  }