html {
  scroll-behavior: smooth;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

body {
  color: #293737;
  font-family: "Circular", sans-serif;
  font-size: 1em !important;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.navbar-brand, .navbar-tabs {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.6rem; }

.navbar {
  border-bottom: 1px solid #efefef;
  padding: 10px 0px;
  background: #fff !important; }

.navbar-item img {
  max-height: 3rem; }

.navbar-brand {
  padding: 0px; }

.logo-link:hover {
  background: transparent !important; }

.hero.is-white .navbar-link.is-active, .hero.is-white .navbar-link:hover, .hero.is-white a.navbar-item.is-active, .hero.is-white a.navbar-item:hover {
  background: rgba(193, 255, 22, 0.37);
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.special {
  width: 320px;
  height: auto; }

.hero-title {
  font-weight: 900;
  font-size: 3.4em;
  line-height: 100%;
  color: #293737;
  margin-bottom: 20px; }

.hero-title-team {
  font-weight: 700;
  font-size: 2.8em; }

.hero-subtitle {
  color: #293737;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px; }

.highlight {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0px;
  line-height: 100%; }

.team-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px; }

.team-box {
  padding: 20px;
  border: 1px solid #efefef;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .team-box:hover {
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    border: none;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .team-box img {
    width: 100px;
    height: 100px;
    border-radius: 200%;
    margin-bottom: 10px;
    border: 2px solid #fafafa; }
  .team-box .team-name {
    font-size: 1.05em;
    line-height: 1;
    font-weight: 500; }
  .team-box .team-desc {
    line-height: 1.4;
    font-size: .9em;
    color: #888; }
  .team-box li {
    display: inline-block;
    padding-right: 5px; }

.modal-card-body p {
  padding: 5px;
  color: #444444;
  color: #45544f; }

.team-sub-title {
  font-size: .7em;
  padding-top: 5px;
  font-weight: 400;
  padding-left: 5px;
  color: #888888; }

.team_modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  /* Add Animation */ }
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
#about, #subsidiaries, #about-contd, footer {
  padding: 150px 0px; }

#about {
  background: rgba(220, 242, 25, 0.432); }

#about-contd {
  background-size: inherit;
  background-image: url(/img/abt-bg.svg);
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  background: #444;
  color: #fff; }
  footer hr {
    background-color: #666 !important;
    height: 1px; }
  footer a {
    color: #DEF219;
    -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    footer a:hover {
      color: #fff;
      -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  footer p {
    margin-bottom: 10px; }
  footer li {
    display: inline !important;
    padding-right: 10px; }

.button-x {
  padding: 20px 40px !important;
  letter-spacing: 2px;
  font-size: 1.3em; }

.hero {
  background: url(img/bg.svg); }

.hero-text-side {
  padding: 12% 0px; }
  .hero-text-side a {
    text-transform: uppercase; }

.hero-image-side {
  padding: 30px; }

.img-side {
  width: 90%; }

.hide-em {
  background: #fff !important;
  border: none !important; }
  .hide-em:hover {
    box-shadow: none !important; }

.about-text .hero-title::after {
  border-bottom: 4px solid #fff !important;
  left: 2px;
  top: 10px;
  width: 22%; }
.about-text .highlight-box {
  padding: 40px;
  background: #f9fcdf;
  color: #293737;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.137), 0 5px 5px rgba(0, 0, 0, 0.062); }
  .about-text .highlight-box h3 {
    line-height: 150%;
    margin-bottom: 15px; }

.section-heading {
  margin-bottom: 50px; }

.about-img img {
  border-radius: 5px;
  margin-bottom: 50px;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .about-img img:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.075), 0 15px 12px rgba(95, 95, 95, 0.062); }

.sub-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-gap: 30px; }

.sub-box {
  border-radius: 5px;
  border: 1px solid #efefef;
  background: #fafafa;
  -webkit-transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .sub-box:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.075), 0 15px 12px rgba(95, 95, 95, 0.062); }
  .sub-box .sub-box-logo {
    display: block;
    padding: 0px;
    background: #fff; }
    .sub-box .sub-box-logo img {
      width: 90% !important;
      height: auto; }
  .sub-box .sub-box-text {
    padding: 20px;
    background: #fafafa; }
    .sub-box .sub-box-text p {
      margin-bottom: 20px; }
    .sub-box .sub-box-text .button:hover {
      background: #DEF219;
      color: #333;
      border: 1px solid #DEF219; }

.footer-logo img {
  width: 50%;
  height: auto; }

.form-a {
  background: #fff;
  padding: 40px; }

.blash-bg {
  background: rgba(220, 242, 25, 0.37);
  padding: 30px;
  margin: 0px !important; }

.input, .textarea {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: none;
  border-radius: 3px;
  max-width: 100%;
  font-family: 'Product Sans', sans-serif;
  width: 100%; }

.full-button {
  width: 100% !important; }

.lithium {
  width: 720px !important; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-item img {
    max-height: 2.4rem; }

  .hero-title {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 120%;
    color: #293737;
    margin-bottom: 20px; }

  .hero-subtitle {
    color: #293737;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px; }

  .section-heading {
    margin-bottom: 20px; }

  #about, #subsidiaries {
    padding: 70px 30px; }

  footer {
    padding: 30px; }

  .hero {
    background: url(/img/mobile-bg.svg); }

  .hero-text-side {
    padding: 10% 20px; }

  .hero-image-side {
    padding: 20px; }

  .sub-box .sub-box-logo {
    display: block;
    padding: 20px; }
    .sub-box .sub-box-logo img {
      width: 90% !important;
      height: auto; }
  .sub-box .sub-box-text {
    padding: 20px;
    background: #fafafa; }
    .sub-box .sub-box-text p {
      margin-bottom: 20px; }

  .footer-logo img {
    width: 50%;
    height: auto; }

  .copyright {
    font-size: .8em !important; }

  .lithium {
    width: 80%; } }
@media screen and (max-width: 720px) {
  .navbar-item img {
    max-height: 2.4rem; }

  .hero-title {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 120%;
    color: #293737;
    margin-bottom: 20px; }

  .hero-subtitle {
    color: #293737;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px; }

  .section-heading {
    margin-bottom: 20px; }

  #about, #about-contd, #subsidiaries {
    padding: 70px 30px; }

  #about-contd {
    margin-top: 100px; }

  footer {
    padding: 30px; }

  .sub-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: max-content;
    grid-gap: 30px; }

  .hero {
    background: url(.../img/mobile-bg.svg); }

  .hero-text-side {
    padding: 10% 20px; }

  .hero-image-side {
    padding: 20px;
    margin-bottom: 100px; }

  .sub-box .sub-box-logo {
    display: block;
    padding: 10px; }
    .sub-box .sub-box-logo img {
      width: 90% !important;
      height: auto; }
  .sub-box .sub-box-text {
    padding: 20px;
    background: #fafafa; }
    .sub-box .sub-box-text p {
      margin-bottom: 20px; }

  .footer-logo img {
    width: 50%;
    height: auto; }

  .copyright {
    font-size: .8em !important; }

  .button-x {
    font-size: 1em; }

  .lithium {
    width: 400px !important;
    height: 600px !important; }

  .special {
    width: 50%;
    height: auto; } }
@media only screen and (max-width: 1087px) {
  .team-wrapper {
    padding-left: 20px;
    padding-right: 20px; } }
@media only screen and (max-width: 991px) {
  .team-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: max-content !important;
    grid-template-rows: -webkit-max-content !important;
    grid-template-rows: max-content !important;
    grid-gap: 30px; } }
@media only screen and (max-width: 690px) {
  .team-wrapper {
    grid-gap: 20px; } }
@media only screen and (max-width: 600px) {
  .team-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    padding-left: 0px;
    padding-right: 0px; } }
@media screen and (max-width: 360px) {
  .about-contd_ {
    padding: 70px 12px !important; }

  .team-box {
    padding: 16px; } }

/*# sourceMappingURL=main.css.map */
