@font-face{
	font-family:Circular;
	src:url(circular-light.woff2) format('woff2'),
		url(circular-light.woff) format('woff');
		font-weight:300;
		font-style:normal;
	}

@font-face{
	font-family:Circular;
	src:url(circular-book.woff2) format('woff2'),
	url(circular-book.woff) format('woff');
	font-weight:400;
	font-style:normal;
	}

@font-face{
	font-family:Circular;
	src:url(circular-medium.woff2) format('woff2'),
	url(circular-medium.woff) format('woff');
	font-weight:500;
	font-style:normal;
	}

@font-face{
	font-family:Circular;
	src:url(circular-bold.woff2) format('woff2'),
	url(circular-bold.woff) format('woff');
	font-weight:700;
	font-style:normal;
	}

@font-face{
	font-family:Circular;
	src:url(circular-black.woff2) format('woff2'),
	url(circular-black.woff) format('woff');
	font-weight:900;
	font-style:normal;
	}